@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .card{
        width: 30dvw;
        aspect-ratio: 1 / 1;
        min-width: 25em;
        min-height: 25em;
        border-radius: 10px;
        backdrop-filter: blur(7.1px);
        -webkit-backdrop-filter: blur(7.1px);
        background: linear-gradient(145deg, #dcf7d9, #b9d0b78e);
        box-shadow:  50px 50px 100px #84a788af,
             -50px -50px 100px #41948ebf;
        user-select: none;  
        position: relative; 
        .Menu{
            display: block;
            position: absolute;
            background: rgba( 255, 255, 255, 0.55 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 3px );
            -webkit-backdrop-filter: blur( 3px );
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            border-radius: 0 0 10px 10px;
            width: 99.7%;
            bottom: 0;
            height: 20%;
            position: absolute;
            transition: 500ms ease-in-out;
            .Controles{
                display: flex;
                justify-content:center;
                width: 100%;
                align-items:end;
                transform: translateY(1vw);
                transition: 500ms ease-in-out;
                .Selecionado{
                    border-radius: 150px;
                    opacity: 0;
                    transition: 250ms ease-in-out;  
                }
                img{
                    opacity: 0;
                    aspect-ratio: 1 / 1;
                    height: 2vw;
                    min-height: 35px;
                    transition: 500ms ease-in-out;  
                    cursor: pointer;
                }
                img:hover{
                    filter: brightness(130%);
                }
                img:nth-child(1){
                margin-right: 20%;
                }
                img:nth-child(4){
                margin-left: 20%;
                }
            }
            .info{
                font-size: calc(0.2rem + 0.5vw);
                text-align: center;
                margin-bottom: 0;
                font-family: "Nanum Gothic Coding", monospace;
                font-weight: 400;
                font-style: normal;
                transition: 500ms ease-in-out;  
                color: #80a48c;
                text-shadow: -1px -1px #6d6d6d9d;
            }
            .progresso{
                height: 35%;
                display: flex;
                justify-content:center;
                align-items: center;
                font-size: calc(0.4rem + 0.6vw);
                text-align: center;
                margin-bottom: 0;
                font-family: "Nanum Gothic Coding", monospace;
                font-weight: 400;
                font-style: normal;
                transition: 500ms ease-in-out;  
                color: #80a48c;
                text-shadow: -1px -1px #6d6d6d9d;
                h3{
                    margin: auto auto;
                }
                input[type="range"] {
                    -webkit-appearance: none;
                    height: 10%;
                    appearance: none;
                    background: transparent;
                    cursor: pointer;
                    width: 15vw;
                    min-width: 15em;
                    min-height: 0.5em;
                  }
                input[type="range"]::-webkit-slider-runnable-track {
                    background-image: linear-gradient(to right top, #80a48c, #81af90, #81b994, #81c498, #81cf9c);
                    box-shadow:  3px 3px 5px #dedede58,
                    -3px -3px 5px #ffffff48;
                    height: 0.5rem;
                    border-radius: 10px; 
                }
 
                input[type="range"]::-moz-range-track {
                    background-image: linear-gradient(to right top, #80a48c, #81af90, #81b994, #81c498, #81cf9c);
                    box-shadow:  3px 3px 5px #dedede58,
                    -3px -3px 5px #ffffff48;
                    height: 0.5rem;
                    border-radius: 20%; 
                }
                input[type="range"]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    margin-top: -2%;
                
                    background-image: linear-gradient(to right top, #5d7966, #63876f, #699677, #6fa480, #75b389);
                    box-shadow:  3px 3px 5px #dedede58,
                    -3px -3px 5px #ffffff48;
                    height: 1vw;
                    min-height: 1.2em;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                     
                 }
                input[type="range"]::-moz-range-thumb {
                    border: none; 
                    border-radius: 50%;
                    margin-top: -2%;
                    background-image: linear-gradient(to right top, #5d7966, #63876f, #699677, #6fa480, #75b389);
                    box-shadow:  3px 3px 5px #dedede58,
                    -3px -3px 5px #ffffff48;
                    min-height: 1.2em;
                    height: 1vw;
                    min-height: 1.2em;
                    aspect-ratio: 1 / 1;
                    
                }
            }
        }
        .fundo{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            border-radius: 10px;
            transition: 500ms ease-in-out;   
        }  
        transition: 500ms ease-in-out;   
    }
    .card:hover{
        transform: scale(1.05);
        .Menu{
            height: 30%; 
            .Controles{
                transform: translateY(-0.9vw);
                .Selecionado{
                    opacity: 1;
                    background: #b9d0b78e;
                    box-shadow:  4px 4px 20px #606c5f,
                                 -4px -4px 20px #ffffff;
                     transition: 800ms ease-in-out;
                }
                img{
                    opacity: 1;
                    display: inline-flex;
                }
            }
            .info{
                transform: translateY(-0.8vw);
            }
            
        }
        .fundo{
            opacity: 0.8;
        }
    }
}
.pop{
 animation: Pop 100ms ease-in-out reverse;
}
@keyframes Pop {
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.5);
    }
}

@media (max-width: 1500px) {
    .info{
        display: flex;
        justify-content:center;
        align-items: center;
        h2,h3{
            display: inline-flex;
            font-size: 14px;
        }
        h3:before{
            content: "\00a0-\00a0";
        }

    }
  }