@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .card{
        width: 30dvw;
        aspect-ratio: 1 / 1;
        min-width: 25em;
        min-height: 25em;
        border-radius: 16px;
        backdrop-filter: blur(7.1px);
        -webkit-backdrop-filter: blur(7.1px);
        background: linear-gradient(145deg, #dcf7d9, #b9d0b78e);
        box-shadow:  50px 50px 100px #84a788af,
             -50px -50px 100px #41948ebf;
        user-select: none;  
        position: relative; 
        .Menu{
            display: block;
            position: absolute;
            background: #ffffff9d;
            border-radius: 16px;
            backdrop-filter: blur(25px);
            -webkit-backdrop-filter: blur(25px);
            border-radius: 0 0px 16px 16px;
            width: 100%;
            bottom: 0;
            height: 20%;
            transition: 500ms ease-in-out;
            .Controles{
                display: flex;
                justify-content:center;
                width: 100%;
                align-items:end;
                transform: translateY(1vw);
                transition: 500ms ease-in-out;
                img{
                    display: inline-flex;
                    opacity: 0;
                    aspect-ratio: 1 / 1;
                    height: 2vw;
                    min-height: 35px;
                    transition: 500ms ease-in-out;  
                    cursor: pointer;
                }
                img:nth-child(1){
                margin-right: 20%;
                }
                img:nth-child(4){
                    margin-left: 20%;
                }
            }
            .info{
                font-size: calc(0.2rem + 0.5vw);
                text-align: center;
                margin-bottom: 0;
                font-family: "Nanum Gothic Coding", monospace;
                font-weight: 400;
                font-style: normal;
                transition: 500ms ease-in-out;  
                color: #80a48c;
                text-shadow: -1px -1px #6d6d6d9d;
            }
            .progresso{
                height: 35%;
                .Player{
                    color: #80a48c;
                }
            }
        }
        .fundo{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            border-radius: 16px;
            transition: 500ms ease-in-out;   
        }  
        transition: 500ms ease-in-out;   
    }
    .card:hover{
        transform: scale(1.05);
        .Menu{
            height: 30%; 
            .Controles{
                transform: translateY(-0.9vw);
                img{
                    opacity: 1;
                }
            }
            .info{
                transform: translateY(-0.8vw);
            }
            
        }
        .fundo{
            opacity: 0.8;
        }
    }
}
.pop{
 animation: Pop 100ms ease-in-out reverse;
}
@keyframes Pop {
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.5);
    }
}

@media (max-width: 1100px) {
    .info{
        display: flex;
        justify-content:center;
        align-items: center;
        h2,h3{
            display: inline-flex;
            font-size: 14px;
        }
        h3:before{
            content: "\00a0-\00a0";
        }

    }
  }